:root {
  --primary-color: #0071bc;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  /* position: relative; */
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.temp {
  padding: 2vh;
}

header#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  background: #FFF;
  z-index: 999;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);
}

header#header .wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vh 1vw;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}

.logo img {
  padding: .4rem;
}

.logo .titulo {
  font-size: 14px;
}

.menu-container {
  position: relative;
}


.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.menu li a {
  display: block;
  color: var(--primary-color);
  font-weight: 400;
  padding: .5rem
}

.burger {
  display: none;
  background: #FFF;
  padding: .5rem;
  border-radius: 10px;
  z-index: 999;
  outline: none;
  transition: ease all 1s;
}

.shadow {
  box-shadow: 1px 2px 6px rgba(0,0,0,0.1);
  transition: ease 1s;
}

.up {
  top: 1vh;
  transition: ease 1s;
}

.efeito {
  padding-left: 5px !important;
  transition: ease 1s;
}

.line {
  width: 25px;
  height: 4px;
  margin: 4px 0;
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: ease 1s;
}

.line:nth-child(3) {
  width: 15px;
}

/* menu mobile */

@media only screen and (max-width: 1040px) {
  .menu li a {
    font-size: 14px;
    transition: ease 1s;
  }
}

@media only screen and (max-width: 992px) {
  .burger {
    display: block;
  }

  .logo p {
    max-width: 80%;
  }

  .logo .titulo {
    font-size: 12px;
    transition: ease all 1s;
  }

  .menu-container {
    
  }

  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    opacity: 0.95;
    background-color: var(--primary-color) ;
    transition: ease all 1s;
  }

  .menu-active {
    left: 0;
    transition: ease all 1s;
  }

  .menu li a {
    padding: 2rem 1rem;
    color: #E4E4E8;
    font-size: 14px;
  }

  .menu li a:hover {
    opacity: 0.6;
  }
}

@media (max-width: 586px) {
  .burger {
    right: 10px;
  }
}
