:root {
  --primary-color: #0071bc;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

/**HEADER**/

#header {
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);
}

#header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .5rem;
  margin: auto;
  padding-top: 1vh;
  z-index: -1;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;
  color: var(--primary-color);
}

.logo img {
  padding: .4rem;
}

.logo .titulo {
  font-size: 14px;
}

.menu-container {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.menu li a {
  display: block;
  color: var(--primary-color);
  font-weight: 600;
  padding: .5rem
}

.lingua {
  margin-left: 2rem;
}


.burger {
  display: none;

  background: #FFF;
  padding: .5rem;
  border-radius: 10px;
  position: fixed;
  padding-top: 1vh;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  outline: none;
  transition: ease 1s;
}

.shadow {
  box-shadow: 1px 2px 6px rgba(0,0,0,0.1);
  transition: ease 1s;
}

.efeito {
  padding-left: 5px !important;
  transition: ease 1s;
}

.line {
  width: 25px;
  height: 4px;
  margin: 4px 0;
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: ease 1s;
}

.line:nth-child(3) {
  width: 15px;
}

/* menu mobile */

@media only screen and (max-width: 1040px) {
  .menu li a {
    font-size: 14px;
    transition: ease 1s;
  }
}

@media only screen and (max-width: 992px) {
  .burger {
    display: block;
  }

  .logo p {
    max-width: 60%;
  }

  .logo .titulo {
    font-size: 12px;
    transition: ease 1s;
  }

  .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    flex-wrap: nowrap;
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    background-color: var(--primary-color) ;
    min-height: 100vh;
  }

  .menu li a {
    padding: 2rem 1rem;
    color: #E4E4E8;
    font-size: 14px;
    flex-shrink: 1;
  }

  .menu li a:hover {
    opacity: 0.6;
  }

  .lingua {
    display: none;
  }
}



/* seleciona idioma */

.lingua {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  align-self: baseline;
  font-size: 14px;
}

.lingua .selecionado {
  display: block;
  padding: .5rem;
  background-color: #FFF;
  color: inherit;
}

.lingua .opcoes {
    /* display: none; */
    display: block;
    padding: .5rem;
    background-color: var(--primary-color);
    color: #FFF;
}
